In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Name of the CSV file
file = 'inputs/fatal-police-shootings-data.csv'

In [3]:
ois = pd.read_csv(file)
ois.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [4]:
del ois['id']
del ois['manner_of_death']
ois.head()

,name,date,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,Tim Elliot,2015-01-02,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,Lewis Lee Lembke,2015-01-02,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,John Paul Quintero,2015-01-03,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,Matthew Hoffman,2015-01-04,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,Michael Rodriguez,2015-01-04,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [5]:
ois.count()

name                       3456
date                       3456
armed                      3450
age                        3323
gender                     3451
race                       3123
city                       3456
state                      3456
signs_of_mental_illness    3456
threat_level               3456
flee                       3343
body_camera                3456
dtype: int64

In [6]:
#clean data of blankx
ois_clean = ois.dropna(how='any')
ois_clean.count()

name                       3000
date                       3000
armed                      3000
age                        3000
gender                     3000
race                       3000
city                       3000
state                      3000
signs_of_mental_illness    3000
threat_level               3000
flee                       3000
body_camera                3000
dtype: int64

In [7]:
#find types of armed 
ois_clean["gender"].value_counts()

M    2865
F     135
Name: gender, dtype: int64

In [8]:
ois_clean["armed"].unique()

array(['gun', 'unarmed', 'toy weapon', 'nail gun', 'knife', 'vehicle',
       'shovel', 'hammer', 'hatchet', 'undetermined', 'sword', 'machete',
       'box cutter', 'metal object', 'screwdriver', 'lawn mower blade',
       'flagpole', 'guns and explosives', 'cordless drill', 'metal pole',
       'Taser', 'metal pipe', 'metal hand tool', 'blunt object',
       'metal stick', 'sharp object', 'meat cleaver', 'carjack', 'chain',
       "contractor's level", 'unknown weapon', 'stapler', 'crossbow',
       'bean-bag gun', 'baseball bat and fireplace poker',
       'straight edge razor', 'gun and knife', 'ax', 'brick',
       'baseball bat', 'hand torch', 'chain saw', 'garden tool',
       'scissors', 'pole', 'pick-axe', 'flashlight', 'spear', 'chair',
       'pitchfork', 'hatchet and gun', 'rock', 'piece of wood', 'bayonet',
       'glass shard', 'motorcycle', 'pepper spray', 'metal rake', 'baton',
       'crowbar', 'oar', 'machete and gun', 'air conditioner',
       'pole and knife', 'beer bottle', 'pipe', 'baseball bat and bottle',
       'fireworks', 'pen', 'chainsaw', 'gun and sword', 'gun and car',
       'pellet gun', 'BB gun', 'incendiary device'], dtype=object)

In [9]:
ois_clean["armed"] = ois_clean["armed"].replace(
    { 'nail gun': 'other',
       'shovel': 'other', 'hammer': 'other', 'hatchet': 'other', 'sword': 'other',
       'box cutter': 'other', 'metal object': 'other', 'screwdriver': 'other', 'lawn mower blade': 'other',
       'flagpole': 'other', 'guns and explosives': 'other', 'cordless drill': 'other', 'metal pole': 'other',
       'Taser': 'other', 'metal pipe': 'other', 'metal hand tool': 'other', 'blunt object': 'other',
       'metal stick': 'other', 'sharp object': 'other', 'meat cleaver': 'knife', 'carjack': 'other', 'chain': 'other',
       "contractor's level": 'other', 'stapler': 'other', 'crossbow': 'other',
       'bean-bag gun': 'gun', 'baseball bat and fireplace poker': 'other',
       'straight edge razor': 'knife', 'gun and knife': 'other', 'ax': 'other', 'brick': 'other',
       'baseball bat': 'other', 'hand torch': 'other', 'chain saw': 'other', 'garden tool': 'other',
       'scissors': 'knife', 'pole': 'other', 'pick-axe': 'other', 'flashlight': 'other', 'spear': 'other', 'chair': 'other',
       'pitchfork': 'other', 'hatchet and gun': 'other', 'rock': 'other', 'piece of wood': 'other', 'bayonet': 'knife',
       'glass shard': 'other', 'motorcycle': 'vehicle', 'pepper spray': 'other', 'metal rake': 'other', 'baton': 'other',
       'crowbar': 'other', 'oar': 'other', 'machete and gun': 'other', 'air conditioner': 'other',
       'pole and knife': 'other', 'beer bottle': 'other', 'pipe': 'other', 'baseball bat and bottle': 'other',
       'fireworks': 'other', 'pen': 'other', 'chainsaw': 'other', 'gun and sword': 'other', 'gun and car': 'other',
       'pellet gun': 'gun', 'BB gun': 'gun', 'incendiary device': 'other'})
ois_clean["armed"].value_counts()

C:\Users\gcgil\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

gun               1678
knife              435
unarmed            232
vehicle            211
other              172
toy weapon         118
undetermined       100
machete             28
unknown weapon      26
Name: armed, dtype: int64

In [10]:
ois_clean.to_csv("Output/ois_clean.csv")

In [11]:
ois_clean.head()

,name,date,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,Tim Elliot,2015-01-02,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,Lewis Lee Lembke,2015-01-02,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,John Paul Quintero,2015-01-03,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,Matthew Hoffman,2015-01-04,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,Michael Rodriguez,2015-01-04,other,39.0,M,H,Evans,CO,False,attack,Not fleeing,False