In [25]:
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [26]:
wapo=pd.read_csv("fatal-police-shootings-data.csv")
wapo.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,1/2/2015,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,1/2/2015,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,1/3/2015,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,1/4/2015,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,1/4/2015,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [27]:
from config import api_key
url = "https://api.census.gov/data/2016/acs/acs1?get=NAME,B01003_001E,B17001_002E&for=state:*&key="
query_url= url + api_key

In [28]:
census_data = requests.get(query_url).json()

In [29]:
print(census_data)

[['NAME', 'B01003_001E', 'B17001_002E', 'state'], ['Alabama', '4863300', '810231', '01'], ['Alaska', '741894', '71566', '02'], ['Arizona', '6931071', '1107464', '04'], ['Arkansas', '2988248', '499225', '05'], ['California', '39250017', '5525524', '06'], ['Colorado', '5540545', '598736', '08'], ['Connecticut', '3576452', '339128', '09'], ['Delaware', '952065', '108211', '10'], ['District of Columbia', '681170', '120308', '11'], ['Florida', '20612439', '2973512', '12'], ['Georgia', '10310371', '1603013', '13'], ['Hawaii', '1428557', '129569', '15'], ['Idaho', '1683140', '237445', '16'], ['Illinois', '12801539', '1621508', '17'], ['Indiana', '6633053', '906077', '18'], ['Iowa', '3134693', '356378', '19'], ['Kansas', '2907289', '342544', '20'], ['Kentucky', '4436974', '794060', '21'], ['Louisiana', '4681666', '918187', '22'], ['Maine', '1331479', '161749', '23'], ['Maryland', '6016447', '567715', '24'], ['Massachusetts', '6811779', '686597', '25'], ['Michigan', '9928300', '1451936', '26'], ['Minnesota', '5519952', '533276', '27'], ['Mississippi', '2988726', '602768', '28'], ['Missouri', '6093000', '826954', '29'], ['Montana', '1042520', '135638', '30'], ['Nebraska', '1907116', '211453', '31'], ['Nevada', '2940058', '399420', '32'], ['New Hampshire', '1334795', '94289', '33'], ['New Jersey', '8944469', '915913', '34'], ['New Mexico', '2081015', '404463', '35'], ['New York', '19745289', '2832824', '36'], ['North Carolina', '10146788', '1521880', '37'], ['North Dakota', '757953', '78464', '38'], ['Ohio', '11614373', '1645382', '39'], ['Oklahoma', '3923561', '620377', '40'], ['Oregon', '4093465', '536146', '41'], ['Pennsylvania', '12784227', '1592045', '42'], ['Rhode Island', '1056426', '129932', '44'], ['South Carolina', '4961119', '735960', '45'], ['South Dakota', '865454', '110962', '46'], ['Tennessee', '6651194', '1023177', '47'], ['Texas', '27862596', '4261337', '48'], ['Utah', '3051217', '306902', '49'], ['Vermont', '624594', '71329', '50'], ['Virginia', '8411808', '896440', '51'], ['Washington', '7288000', '805691', '53'], ['West Virginia', '1831102', '319063', '54'], ['Wisconsin', '5778709', '661565', '55'], ['Wyoming', '585501', '64663', '56'], ['Puerto Rico', '3411307', '1469382', '72']]

In [30]:
census_pd = pd.DataFrame(census_data, columns= ["State Name", "Estimated Population", "Below Poverty Level", "State ID"])
census_pd

              State Name Estimated Population Below Poverty Level State ID
0                   NAME          B01003_001E         B17001_002E    state
1                Alabama              4863300              810231       01
2                 Alaska               741894               71566       02
3                Arizona              6931071             1107464       04
4               Arkansas              2988248              499225       05
5             California             39250017             5525524       06
6               Colorado              5540545              598736       08
7            Connecticut              3576452              339128       09
8               Delaware               952065              108211       10
9   District of Columbia               681170              120308       11
10               Florida             20612439             2973512       12
11               Georgia             10310371             1603013       13
12                Hawaii              1428557              129569       15
13                 Idaho              1683140              237445       16
14              Illinois             12801539             1621508       17
15               Indiana              6633053              906077       18
16                  Iowa              3134693              356378       19
17                Kansas              2907289              342544       20
18              Kentucky              4436974              794060       21
19             Louisiana              4681666              918187       22
20                 Maine              1331479              161749       23
21              Maryland              6016447              567715       24
22         Massachusetts              6811779              686597       25
23              Michigan              9928300             1451936       26
24             Minnesota              5519952              533276       27
25           Mississippi              2988726              602768       28
26              Missouri              6093000              826954       29
27               Montana              1042520              135638       30
28              Nebraska              1907116              211453       31
29                Nevada              2940058              399420       32
30         New Hampshire              1334795               94289       33
31            New Jersey              8944469              915913       34
32            New Mexico              2081015              404463       35
33              New York             19745289             2832824       36
34        North Carolina             10146788             1521880       37
35          North Dakota               757953               78464       38
36                  Ohio             11614373             1645382       39
37              Oklahoma              3923561              620377       40
38                Oregon              4093465              536146       41
39          Pennsylvania             12784227             1592045       42
40          Rhode Island              1056426              129932       44
41        South Carolina              4961119              735960       45
42          South Dakota               865454              110962       46
43             Tennessee              6651194             1023177       47
44                 Texas             27862596             4261337       48
45                  Utah              3051217              306902       49
46               Vermont               624594               71329       50
47              Virginia              8411808              896440       51
48            Washington              7288000              805691       53
49         West Virginia              1831102              319063       54
50             Wisconsin              5778709              661565       55
51               Wyoming               585501               64663       56
52           Puerto Rico              3411307             1469382       72

In [43]:
race_criteria = "B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E"
race_url = f"https://api.census.gov/data/2016/acs/acs1?get=NAME,{race_criteria}&for=state:*&key="
race_query= race_url + api_key
print (race_query)

https://api.census.gov/data/2016/acs/acs1?get=NAME,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E&for=state:*&key=ac5527e52eb282d6f7037be194adb35cc476b5a2

In [47]:
race_data = requests.get(race_query).json()

In [65]:
race_pd = pd.DataFrame(race_data, columns= ["State Name","Total","White alone","Black or African American alone",
                                            "American Indian and Alaska Native alone","Asian alone",
                                            "Native Hawaiian and Other Pacific Islander alone","Some other race alone",
                                            "Two or more races:","State ID"])
race_pd

,State Name,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races:,State ID
0,NAME,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,state
1,Alabama,4863300,3316384,1301102,24509,65611,1503,70333,83858,01
2,Alaska,741894,477895,23753,108056,45580,9937,12712,63961,02
3,Arizona,6931071,5254944,299674,306247,220438,14140,585948,249680,04
4,Arkansas,2988248,2290066,464516,18859,41781,8808,86797,77421,05
5,California,39250017,23420234,2265280,290133,5602074,150521,5642125,1879650,06
6,Colorado,5540545,4654921,234142,54743,175951,8325,228102,184361,08
7,Connecticut,3576452,2741892,378932,9887,161950,1259,171008,111524,09
8,Delaware,952065,659091,209911,4055,35646,2053,15595,25714,10
9,District of Columbia,681170,277268,320554,2004,26436,41,37132,17735,11
10,Florida,20612439,15574165,3310428,52738,559393,12540,570424,532751,12
11,Georgia,10310371,6054861,3254495,37939,398897,6503,299220,258456,13
12,Hawaii,1428557,357994,25898,2649,543448,144568,12321,341679,15
13,Idaho,1683140,1510119,11437,26596,24406,2375,66137,42070,16
14,Illinois,12801539,9123763,1813477,30470,684783,4851,822784,321411,17
15,Indiana,6633053,5536418,617745,17515,141451,3526,157755,158643,18
16,Iowa,3134693,2834162,111867,10488,74805,3949,42129,57293,19
17,Kansas,2907289,2458966,166551,21620,79741,2922,74123,103366,20
18,Kentucky,4436974,3866333,366157,11140,61311,2307,37591,92135,21
19,Louisiana,4681666,2901495,1514755,25508,77921,1030,68208,92749,22
20,Maine,1331479,1257120,19963,7893,17499,214,2450,26340,23
21,Maryland,6016447,3397255,1793593,15234,376518,2480,230326,201041,24
22,Massachusetts,6811779,5350175,506677,12547,440845,3758,285412,212365,25
23,Michigan,9928300,7793481,1363336,51161,292514,2967,118621,306220,26
24,Minnesota,5519952,4596566,331308,63229,258899,1452,111852,156646,27
25,Mississippi,2988726,1748734,1134958,13260,26708,631,30583,33852,28
26,Missouri,6093000,5011507,702946,30888,117335,9193,71031,150100,29
27,Montana,1042520,927374,3949,66231,8432,578,3738,32218,30
28,Nebraska,1907116,1674863,89879,15865,41548,1227,38348,45386,31
29,Nevada,2940058,1966690,260993,34267,244373,20240,274293,139202,32
30,New Hampshire,1334795,1247155,16671,1450,32679,66,8057,28717,33
31,New Jersey,8944469,6090908,1194585,20185,854181,3754,543530,237326,34
32,New Mexico,2081015,1539634,41043,194133,32346,1428,206526,65905,35
33,New York,19745289,12530463,3080534,73052,1668036,9236,1767107,616861,36
34,North Carolina,10146788,6989065,2182212,120843,275428,6081,304293,268866,37
35,North Dakota,757953,660919,19250,41649,9200,233,5114,21588,38
36,Ohio,11614373,9476221,1443510,18081,239025,4031,109073,324432,39
37,Oklahoma,3923561,2841467,287373,297948,79246,6143,107778,303606,40
38,Oregon,4093465,3455810,79575,45426,169459,14823,120779,207593,41
39,Pennsylvania,12784227,10340877,1407047,23556,423180,3417,262396,323754,42
40,Rhode Island,1056426,850105,67526,5304,36875,1437,62292,32887,44
41,South Carolina,4961119,3342552,1337644,16010,76870,2561,77386,108096,45
42,South Dakota,865454,732939,14524,77378,12953,218,5894,21548,46
43,Tennessee,6651194,5177478,1114434,19053,116375,4798,79206,139850,47
44,Texas,27862596,20702709,3362283,135275,1300300,25228,1622087,714714,48
45,Utah,3051217,2633283,32800,31702,70150,29463,164775,89044,49
46,Vermont,624594,589379,7893,2177,9406,252,3163,12324,50
47,Virginia,8411808,5707035,1601868,23156,532320,8379,228627,310423,51
48,Washington,7288000,5516602,266977,94637,597215,48182,350251,414136,53
49,West Virginia,1831102,1704195,69721,3851,14133,404,7494,31304,54
50,Wisconsin,5778709,4941688,361653,52608,155252,1534,125644,140330,55
51,Wyoming,585501,538819,5970,13194,6012,420,5782,15304,56
52,Puerto Rico,3411307,2278731,395069,8082,5691,193,575686,147855,72